
/* style for twitter search bar */
.container{
    background-color: white;
    width: 500px;
    padding: 15px;
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;
}
.profile-pic{
    display: inline-block;
    height: 40px;
    width: 40px;
    /* background-color: red; */
}

.picture{
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
}
/* search-bar */
.search-bar{
    display: inline-block;
}

.search{
    text-align: middle;
    padding: 10px;
    border:none;
    width: 20rem;
}
.tweet{
    display: inline;
}

.tweet-btn{
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: #1DA1F2;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    box-sizing: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.tweet-btn:hover{
    box-shadow: 1px 1px 5px  #1DA1F2;
}
.tweet-btn:active{
    opacity: 0.5;
}

/* twitter buttons and all completed here now facebook profile starts from here */

.facebook-container{
    margin-top: 40px;
    background-color: rgb(222, 218, 218);
    display: inline-block;
    box-shadow: 1px 0.5px 4px black;
    border-radius: 3px;

}

/* styling the picture */
.facebook-profile{
    margin-bottom: 0px;
    height: 130px;
    
}
.cat-pic{
    width: 134px;
    height: 130px;
    border-radius: 1px;
    object-fit:cover ;
    object-position: cover;
}

/* styling the text-description */

.name-box{
    /* need to be removed afterwards */
    /* background-color: red; */
    margin-top: 0px;
    padding: 4px 8px ;
    width: 115px;

}
.name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bolder;
}
.friends{
    margin-top: 6px;
    font-family: arial;
    font-size: 11px;
    color: rgb(98, 96, 96);
    margin-bottom: 0px;
    font-weight: bolder;
}

/* add button starts here */
.add_friend{
    /* need to be removed  */
    /* background-color: blue; */
    display: inline-block;
    padding: 6px;
}
.add_btn{
    border: none;
    background-color: #0573b8;
    border-radius: 3px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 12px 7px 12px;
    color: white;
    cursor: pointer;
}
.add_btn:hover{
    box-shadow: 2px 2px 5px #38adf6;
    transition: 0.5s;
}
.add_btn:active{
    opacity: 0.7;
}

.facebook-container2{
    display: inline-block;
    background-color: rgb(222, 218, 218);
    margin-left: 10px;
    box-shadow: 1px 0.5px 4px black;
}

/* lets style the google clone  */

/* google-container */
.google_container{
    /* need to be removed afterward */
    /* background-color: green; */
    text-align: center;
    margin-top: 40px;
}
.google_image{
    /* background-color: green; */
    display: inline-block;
    height: 80px;
    margin-bottom: 0px;
}
.google{
    height: 80px;
    margin-bottom: 0px;
}
.search_bar{
    text-align: center;
    margin-top: 4px;
    /* need to be removed afterward */
    /* background-color: green; */
}
.google_search{
    width: 450px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1.5px 1.5px 3px rgb(141, 140, 140);
}
/* lets style some google buttons */
.google_btn{
    margin-top: 10px;
    /* padding: 10px; */
    /* background-color: red; */
}
.feeling_lucky{
    border: none;
    padding: 6px 15px;
    /* background: transparent; */
    border-radius: 3px;
    cursor: pointer;
    color: rgb(72, 70, 70);
    box-shadow: 0.5px 0.5px 5px black;
    margin-left: 8px;
}
.feeling_lucky:hover{
    background-color: rgb(234, 226, 226);
    color: black;
}
.feeling_lucky:active{
    opacity: 0.7;
}
 
